# Игнорируем папку с настройками IntelliJ IDEA
.idea/
*.iml

# Игнорируем файлы компиляции и кэша
*.class
*.log
*.war
*.ear
*.jar

# Игнорируем временные файлы операционной системы
.DS_Store
Thumbs.db

# Игнорируем артефакты сборки Maven
target/
out/

# Игнорируем временные файлы тестирования
test-output/

# Игнорируем файлы зависимостей (если используете Maven Wrapper)
.mvn/
# Игнорируем временные файлы Maven
pom.xml
tag.gz
pom.xml.
releaseBackup